.jumbotron2 {
  padding-top: 5rem;
  background-color: darkgrey;
}

#projects {
  background-color: darkgrey;
}

.background {
  background-color: darkgrey;
}

section {
  padding-top: 5rem;
}
